body {
  background: #e7eaf6;
}

.container {
  max-width: 540px;
  background: #fcfefe;
  margin: 60px auto;
  border-radius: 5px;
  text-align: center;
}
.form-wrapper {
  display: inline;
  text-align: center;
}
